.navbar-brand,
.jumbotron h1 {
  font-family: "Bebas Neue", serif;
  src: url();
}

h2,
h3,
h4 {
  font-family: "Azeret Mono", serif;
  src: url();
}

.nav-item:hover {
  transform: scale(1.1);
  border-bottom: 2px solid chocolate;
}

#slider p,
#slider p button {
  z-index: +2;
  position: ;
}

#service {
  background-color: rgb(255, 255, 255);
}

#service img:hover,
h4:hover {
  opacity: 1.1;
  transform: scale(1.05);
}
#service h3:hover {
  transform: scale(1.3);
}

#service-col {
  background-color: #1b4864;
}

#feature {
  background-color: #ffffff;
}

#feature img {
  width: cover;
  height: auto;
}

#review {
  height: 450px;
  width: auto;
}
#team {
  transform: scale(0.78);
}
#newsletter {
  background-color: #fe2b4d;
}

#newsletter h3 {
  padding-top: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
